<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>
	<thead th:fragment="tableHeader">
		<tr>
			<th><abbr th:attr="title=#{table.pos.tooltip}"
				th:text="#{table.pos}"></abbr></th>
			<th th:text="#{table.team}"></th>
			<th><abbr th:attr="title=#{table.mp.tooltip}"
				th:text="#{table.mp}"></abbr></th>
			<th><abbr th:attr="title=#{table.pts.tooltip}"
				th:text="#{table.pts}"></abbr></th>
			<th><abbr th:attr="title=#{table.w.tooltip}"
				th:text="#{table.w}"></abbr></th>
			<th><abbr th:attr="title=#{table.d.tooltip}"
				th:text="#{table.d}"></abbr></th>
			<th><abbr th:attr="title=#{table.l.tooltip}"
				th:text="#{table.l}"></abbr></th>
			<th><abbr th:attr="title=#{table.g.tooltip}"
				th:text="#{table.g}"></abbr></th>
			<th class="last-ten-matches"><abbr
				th:attr="title=#{table.form.tooltip}" th:text="#{table.form}"></abbr></th>
		</tr>
	</thead>

	<a th:fragment="player(player)" th:text="${player?.fullName}" th:href="@{/player(playerId=${player.id})}"></a>

	<th:block th:fragment="matchEvent(me)" th:switch="${me.type}">
		<div class="score" th:case="${T(pl.polskieligi.model.MatchEventType).SCORE}" th:attr="title=${me.time!=null} ? ${me.time+''''}"></div>
	    <div class="score-panelty" th:case="${T(pl.polskieligi.model.MatchEventType).SCORE_PANELTY}" th:attr="title=${me.time!=null} ? ${me.time+''''}"></div>
	    <div class="panelty-missed" th:case="${T(pl.polskieligi.model.MatchEventType).PANELTY_MISSED}" th:attr="title=${me.time!=null} ? ${me.time+''''}"></div>
	    <div class="score-own" th:case="${T(pl.polskieligi.model.MatchEventType).SCORE_OWN}" th:attr="title=${me.time!=null} ? ${me.time+''''}"></div>
	    <div class="yellow-card" th:case="${T(pl.polskieligi.model.MatchEventType).YELLOW_CARD}" th:attr="title=${me.time!=null} ? ${me.time+''''}"></div>
	    <div class="red-card" th:case="${T(pl.polskieligi.model.MatchEventType).RED_CARD}" th:attr="title=${me.time!=null} ? ${me.time+''''}"></div>
	</th:block>
</body>
</html>
