<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
<div th:fragment="leagueMatchContent" id="tabs1" class="flat-tabs">
    <div id="tabs-info">
        <table>
            <tbody>
            <tr>
                <th colspan="3"><b th:text="${leagueMatch.matchpart1.name}"></b></th>
                <th colspan="3"><b th:text="${leagueMatch.matchpart2.name}"></b></th>
            </tr>
            <tr>
                <td colspan="3"><b
                        th:text="${#numbers.formatDecimal(leagueMatch.matchpart1_result,0,0)}"></b></td>
                <td colspan="3"><b
                        th:text="${#numbers.formatDecimal(leagueMatch.matchpart2_result,0,0)}"></b></td>
            </tr>
            <tr>
                <td colspan="3" th:text="${#dates.format(leagueMatch.match_date, 'dd.MM.yyyy HH:mm')}"></td>
                <td colspan="3" th:text="${leagueMatch?.round?.matchcode}"></td>
            </tr>
            <tr>
                <td colspan="3" th:text="#{leaguematch.crowd}"></td>
                <td colspan="3" th:text="${leagueMatch.crowd}"></td>
            </tr>
            <tr>
                <td colspan="3" th:text="#{leaguematch.referee}"></td>
                <td colspan="3" th:text="${leagueMatch?.referee.name + ' ' + leagueMatch?.referee.surname}"></td>
            </tr>

            <!--Goals-->
            <th:block th:if="${#lists.size(team1Goals)&gt;0 OR #lists.size(team2Goals)&gt;0}">
                <tr>
                    <th colspan="6" th:text="#{leaguematch.goals}"></th>
                </tr>
                <th:block th:each="i: ${#numbers.sequence(0, goalRows-1)}">
                    <tr>
                        <th:block th:if="${#lists.size(team1Goals)&gt;i}">
                            <td th:text="${team1Goals[i]?.leagueMatchPlayer?.number}"></td>
                            <td class="team1Player"><a
                                    th:replace="thymeleaf/fragments/general :: player(player=${team1Goals[i]?.leagueMatchPlayer?.player})"></a>
                            </td>
                            <td th:text="${team1Goals[i]?.time+''''}"></td>
                        </th:block>
                        <th:block th:unless="${#lists.size(team1Goals)&gt;i}">
                            <td colspan="3"/>
                        </th:block>

                        <th:block th:if="${#lists.size(team2Goals)&gt;i}">
                            <td th:text="${team2Goals[i]?.time+''''}"></td>
                            <td class="team2Player"><a
                                    th:replace="thymeleaf/fragments/general :: player(player=${team2Goals[i]?.leagueMatchPlayer?.player})"></a>
                            </td>
                            <td th:text="${team2Goals[i]?.leagueMatchPlayer?.number}"></td>
                        </th:block>
                        <th:block th:unless="${#lists.size(team2Goals)&gt;i}">
                            <td colspan="3"/>
                        </th:block>
                    </tr>
                </th:block>
             </th:block>

            <!--Players-->
            <th:block th:if="${#lists.size(team1Players)&gt;0 OR #lists.size(team2Players)&gt;0}">
                <tr>
                    <th colspan="6" th:text="#{leaguematch.first11}"></th>
                </tr>
                <th:block th:each="i: ${#numbers.sequence(0, playerRows-1)}">
                    <tr>
                        <th:block th:if="${#lists.size(team1Players)&gt;i}">
                            <td th:text="${team1Players[i]?.number}"></td>
                            <td class="team1Player"><a
                                    th:replace="thymeleaf/fragments/general :: player(player=${team1Players[i]?.player})"></a>
                            </td>
                            <td>
                                <th:block th:each="e: ${team1Players[i].matchEvents}">
                                    <div th:replace="thymeleaf/fragments/general :: matchEvent(me=${e})"></div>
                                </th:block>
                                <div th:if="${team1Players[i]?.substitutionOut}" th:replace="thymeleaf/fragments/general :: sub(player=${team1Players[i]?.substitutionOut?.playerIn}, time=${team1Players[i]?.substitutionOut?.time})"></div>
                            </td>
                        </th:block>
                        <th:block th:unless="${#lists.size(team1Players)&gt;i}">
                            <td colspan="3"/>
                        </th:block>

                        <th:block th:if="${#lists.size(team2Players)&gt;i}">
                            <td>
                                <div th:if="${team2Players[i]?.substitutionOut}" th:replace="thymeleaf/fragments/general :: sub(player=${team2Players[i]?.substitutionOut?.playerIn}, time=${team2Players[i]?.substitutionOut?.time})"></div>
                                <th:block th:each="e: ${team2Players[i].matchEvents}">
                                    <div th:replace="thymeleaf/fragments/general :: matchEvent(me=${e})"></div>
                                </th:block>
                            </td>
                            <td class="team2Player"><a
                                    th:replace="thymeleaf/fragments/general :: player(player=${team2Players[i]?.player})"></a>
                            </td>
                            <td th:text="${team2Players[i]?.number}"></td>
                        </th:block>
                        <th:block th:unless="${#lists.size(team2Players)&gt;i}">
                            <td colspan="3"/>
                        </th:block>
                    </tr>
                </th:block>
            </th:block>

            <!--Substitutions-->
            <th:block th:if="${#lists.size(team1Subs)&gt;0 OR #lists.size(team2Subs)&gt;0}">
                <tr>
                    <th colspan="6" th:text="#{leaguematch.substitutes}"></th>
                </tr>
                <th:block th:each="i: ${#numbers.sequence(0, subRows-1)}">
                    <tr>
                        <th:block th:if="${#lists.size(team1Subs)&gt;i}">
                            <td th:text="${team1Subs[i]?.number}"></td>
                            <td class="team1Player">
                                <a th:replace="thymeleaf/fragments/general :: player(player=${team1Subs[i]?.player})"></a>
                            </td>
                            <td>
                                <div th:if="${team1Subs[i]?.substitutionIn}" th:replace="thymeleaf/fragments/general :: sub(player=${team1Subs[i]?.substitutionIn?.playerOut}, time=${team1Subs[i]?.substitutionIn?.time})"></div>
                                <th:block th:each="e: ${team1Subs[i].matchEvents}">
                                	<div th:replace="thymeleaf/fragments/general :: matchEvent(me=${e})"></div>
                                </th:block>
                                <div th:if="${team1Subs[i]?.substitutionOut}" th:replace="thymeleaf/fragments/general :: sub(player=${team1Subs[i]?.substitutionOut?.playerIn}, time=${team1Subs[i]?.substitutionOut?.time})"></div>
                            </td>
                        </th:block>
                        <th:block th:unless="${#lists.size(team1Subs)&gt;i}">
                            <td colspan="3"/>
                        </th:block>
                        <th:block th:if="${#lists.size(team2Subs)&gt;i}">
                            <td>
                                <div th:if="${team2Subs[i]?.substitutionOut}" th:replace="thymeleaf/fragments/general :: sub(player=${team2Subs[i]?.substitutionOut?.playerIn}, time=${team2Subs[i]?.substitutionOut?.time})"></div>
                                <th:block th:each="e: ${team2Subs[i].matchEvents}">
                                    <div th:replace="thymeleaf/fragments/general :: matchEvent(me=${e})"></div>
                                </th:block>
                                <div th:if="${team2Subs[i]?.substitutionIn}" th:replace="thymeleaf/fragments/general :: sub(player=${team2Subs[i]?.substitutionIn?.playerOut}, time=${team2Subs[i]?.substitutionIn?.time})"></div>
                            </td>
                            <td class="team2Player">
                                <a th:replace="thymeleaf/fragments/general :: player(player=${team2Subs[i]?.player})"></a>
                            </td>
                            <td th:text="${team2Subs[i]?.number}"></td>
                        </th:block>
                        <th:block th:unless="${#lists.size(team2Subs)&gt;i}">
                            <td colspan="3"/>
                        </th:block>
                    </tr>
                </th:block>
            </th:block>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>
