<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
	<div th:fragment="playerContent" id="tabs1" class="flat-tabs">
		<div id="menu1">
			<ul class="buttons1">
				<li><a href="#tabs-info" th:text="#{player.info}"></a></li>
				<li><a href="#tabs-matches" th:text="#{player.leaguematches}"></a></li>
				<li><a href="#tabs-career" th:text="#{player.career}"></a></li>
			</ul>
		</div>
		<div id="tabs-info">
			<table>
				<tbody>
					<tr>
						<th th:text="#{player.name}"></th>					
						<td th:text="${player.name}"></td>
					</tr>
					<tr>
						<th th:text="#{player.surname}"></th>					
						<td th:text="${player.surname}"></td>
					</tr>
					<tr th:if="${player.birthDate!=null}">
						<th th:text="#{player.birthDate}"></th>					
						<td th:text="${#dates.format(player.birthDate, 'dd.MM.yyyy')}"></td>
					</tr>
					<tr th:if="${player.position!=null AND player.position!=''}">
						<th th:text="#{player.position}"></th>					
						<td th:text="${player.position}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="tabs-matches">
			<table>
				<tbody>
				<th:block th:each="lmp,itr : ${leagueMatches}">
					<tr>
					    <th th:text="${itr.index+1}"></th>	
						<td th:text="${lmp.number}"></td>					
						<td th:text="${lmp.minutIn}"></td>
						<td th:text="${lmp.minutOut}"></td>
						
						<th:block th:replace="thymeleaf/fragments/general :: leagueMatch(m=${lmp.leagueMatch})">
						</th:block>
						
						<td>
						<th:block th:each="me : ${lmp.matchEvents}">
							<div th:replace="thymeleaf/fragments/general :: matchEvent(me=${me})"></div>
						</th:block>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="tabs-career">
			<table>
				<thead>
				<tr>
					<th th:text="#{player.season}"></th>
					<th th:text="#{player.league}"></th>
					<th th:text="#{player.team}"></th>
				</tr>
				</thead>
				<tbody>
				<th:block th:each="tlp,itr : ${player.teamleaguePlayers}">
					<tr>	
						<td th:text="${tlp.teamLeague.project?.season?.name}"></td>
						<td th:text="${tlp.teamLeague.project?.league?.name}"></td>					
						<td th:text="${tlp.teamLeague.team.name}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>
