<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>
	<div th:fragment="teamLeague">
		<table>
			<thead>
			</thead>
			<tbody>
				<th:block th:each="tl,itr : ${team.teamLeagues}">
					<tr>
						<th th:text="${itr.index+1}"></th>
						<td class="team_name"><b><a
								th:href="@{/table(projectId=${tl.project.id})}"
								th:text="${tl.project.name}"></a></b></td>
						<td th:text="${tl.project?.season?.name}"></td>
						<td th:text="${tl.project?.league?.name}"></td>
						<td th:text="${tl.project?.league?.groupName}"></td>
					</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
