<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/js/locale.js}"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />

<script>
        $(document).ready(function() {
        	 $( "#tabs1" ).tabs();
             $( "#tabs2" ).tabs();
             $(document).tooltip();
            $("#address").autocomplete({
                source : function(request, response) {
                    $.ajax({
                        url : "${pageContext.request.contextPath }/teams",
                        dataType : "json",
                        data : {
                            team : request.term,
                            maxRows: 2
                        },
                        success : function(data) {
                            //alert(data);
                            //console.log(data);
                            response(data);
                        }
                    });
                },
                select: function(event, ui){
                    $("#address").val(ui.item.label);
                    $("#addressId").val(ui.item.value);
                    return false;
                },
                minLength : 2
            });
        });

	</script>
<style type="text/css">
.ui-tooltip {
	border-radius: 6px;
	font: 14px "Helvetica Neue", Sans-Serif;
	box-shadow: 0 0 7px black;
}
</style>

<title>Tabela</title>
</head>
<body>

	<select id="locales">
		<option value=""></option>
		<option value="pl">PL</option>
		<option value="en">EN</option>
	</select>
	<form action="#" th:action="@{/table}" th:object="${tableForm}"
		method="get">
		<select th:field="*{season}">
			<option
					th:each="s : ${ts.allSeasons}"
					th:value="${s.id}" th:text="${s.name}"></option>
		</select>
		<select th:field="*{leagueType}">
			<option
				th:each="state : ${T(pl.polskieligi.model.LeagueType).values()}"
				th:value="${state.id}" th:text="${state.name}"></option>
		</select> <select th:field="*{region}">
			<option th:each="r : ${T(pl.polskieligi.model.Region).values()}"
				th:value="${r.id}" th:text="${r.name}"></option>
		</select> <select th:field="*{projectId}">
			<option th:each="p : ${projects}" th:value="${p.id}"
				th:text="${p.name}"></option>
		</select> <input type="submit" value="Button" />
	</form>
	<div th:replace="thymeleaf/fragments/tableContent :: tableContent"></div>
	
	
	<input type="text" id="address" value="" />
	<input type="hidden" id="addressId" value="" />
	<span>
		<button id="button-id" type="button">Search</button>
	</span>
</body>
</html>
