
body {
    margin:0;
    padding:0;    
    background:#f5f5f5;
}

#tabs{
	display: inline-block	
}

table {
    font:12px/15px "Helvetica Neue",Arial, Helvetica, sans-serif;
    overflow:hidden;   
    border-left:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;
    background:#d3d3d3;;
    border-collapse: separate;
    border-spacing: 0px 1px;
}

tr{background: #fff;}

th, td {padding:4px 4px 4px; text-align:center; }

th { background:#e8eaeb;}

td.team_name {text-align:left;}


div.match_draw, div.match_win, div.match_lose  {
    height: 14px;
    width: 13px;
	color: white;
	font-weight: bolder;
    display: inline-block;
    padding:1px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

div.match_lose {
    background-color: red
}

div.match_win {
    background-color: green
}

div.match_draw {
    background-color: grey
}


.ui-tooltip {
	border-radius: 6px;
	font: 14px "Helvetica Neue", Sans-Serif;
	box-shadow: 0 0 7px black;
}



#tabs .ui-tabs-panel, #tabs.ui-tabs, #tabs .ui-tabs-nav{
    padding: 0px;
}

#tabs.ui-corner-all, #tabs .ui-corner-top,  #tabs .ui-corner-all{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#tabs .ui-tabs-anchor{
    width: 50px;
    height: 17px;
    border: 0;
    font:12px/15px "Helvetica Neue",Arial, Helvetica, sans-serif;
	font-weight: bolder;
    text-align: center;
}

#tabs .ui-tabs-tab{
    border: 0;
    background-color: #e8eaeb;
    margin-right: 3px;
    text-decoration: none;
}

#tabs.ui-widget.ui-widget-content{
    border: 0;
}
#tabs .ui-widget-header{
    border-color: #d3d3d3;
    border-bottom: 0;
}

#tabs li a:hover {
  color: #FFFFFF;
  background-color: #ccc;
}

#tabs .ui-state-active{
  color: #FFFFFF;
  background-color: #656565;
}

/* 
.buttons{
	font:12px/15px "Helvetica Neue",Arial, Helvetica, sans-serif;
	font-weight: bolder;
	margin: 0;
	padding: 0;
	margin-bottom: -4px;
	background-color: #e8eaeb;
	width: auto;
	border:1px solid #d3d3d3;
}

.buttons li {    
  padding: 0;
  display: inline-block;
  list-style: none;
  text-align: center;
  background-color: #e8eaeb;
  margin-right: 3px;
  width: 70px;
  line-height: 30px;
  text-decoration: none;
  overflow:hidden;   
}

.buttons li a {
  text-decoration: none;
  color: #000000;
  display: block;
}

.buttons li a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #ccc;
}
.buttons li a.active {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #656565;
}
 */